.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222233;
    padding: 1rem 2rem;
    color: #F1E6D3;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #F1E6D3;
    font-family: 'Garamond', serif;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #997B82;



/* Footer */
.footer {
  background-color: #222233;
  padding: 1rem 2rem;
  text-align: center;
  max-width: 100%;
  color: F1E6D3;
  position: relative;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.socials {
  list-style: none;
  display: flex;
  gap: 10px;
}

.socials li a {
  color: #A79986;
}
